<h1>Coucou</h1>

<% @posts.each do |post| %>
  <h2><%= post.titre %></h2>
  <p><%= post.sujet %></p>
  <p><%= post.url %></p>
    <%# <%= link_to "Supprimer", post_path(post), method: :delete, data: {confirm: "tu es sure?"} %>
<% end %>


<%= link_to "Ajoute ton sujet", new_post_path %>
