
<h1>Coucou <%= current_user.nickname %></h1>

<% @posts.each do |post| %>
  <h2><%= post.titre %></h2>
  <p><%= post.sujet %></p>
  <p><%= post.url %></p>
  <% if post.user == current_user %>
    <%= link_to "Supprimer", post_path(post), data: {turbo_method: :delete, turbo_confirm: "Etes vous sur?"} %>
  <% end %>
  <%= link_to "Allez voir", post_comments_path(post) %>
<% end %>


    <%= link_to "Ajoute ton sujet", new_post_path %>
